services:
  adminer:
    image: adminer
    restart: always
    ports:
      - 8088:8088
    networks:
      - nexquery_network

  mailcatcher:
    image: schickling/mailcatcher
    restart: always
    ports:
      - 1080:1080
      - 1025:1025
    networks:
      - nexquery_network

  # Ngrok (Uncomment to enable)
  # ngrok:
  #   image: ngrok/ngrok:latest
  #   restart: unless-stopped
  #   environment:
  #     NGROK_AUTHTOKEN: ${NGROK_AUTHTOKEN}
  #   command: "http host.docker.internal:3000"
  #   ports:
  #     - "4040:4040"
  #   networks:
  #     - nexquery_network

volumes:
  db_data:
  qdrant_data:
